{% extends 'base.html' %}
{% block content %}
<h3 class="text-center">Doctores</h3>
<!-- Button trigger modal -->
<button
    type="button"
    class="btn btn-primary btn-lg"
    data-bs-toggle="modal"
    data-bs-target="#modalId"
>
   Registrar
</button>

<div class="table-responsive">
    <table class="table table-primary datatable-init-export">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for doctor in doctors %}    
            <tr>
                <td>{{ doctor.id }}</td>
                <td>{{ doctor.first_name }}</td>
                <td>
                    <a href="{% url 'edit_doctor' doctor.id %}"><i class="fas fa-edit text-info mx-1"></i></a>                    
                    <a href="{% url 'delete_doctor' doctor.id %}"><i class="fas fa-trash text-danger mx-1"></i></a>

                    
                </td>
            </tr>
            {% endfor %}        
        </tbody>
    </table>
</div>

<!-- Modal -->
<div
    class="modal fade"
    id="modalId"
    tabindex="-1"
    role="dialog"
    aria-labelledby="modalTitleId"
    aria-hidden="true"
>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitleId">
                    Registro de doctor
                </h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <form action="" method="post">
                {% csrf_token %}
                {% include 'doctors/form.html' %}
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                   Cerrar
                </button>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </div>
            </form>
        </div>
    </div>
</div>

{% if messages %}
    {% for message in messages %}
        <script>
            Swal.fire({
                title: "{{ message.tags }}",
                text: "{{ message }}",
                icon: "{{ message.tags }}"
            });
        </script>
    {% endfor %}
{% endif %}

{% endblock %}